# Ignore artifacts
node_modules/
.next/
out/
dist/
build/
.vscode/
.idea/
.vercel/
coverage/

# Ignore lockfiles and binary / large assets
package-lock.json
yarn.lock
pnpm-lock.yaml
public/images/
public/uploads/

# Ignore dependency folders in subprojects
**/node_modules/

# Misc
.DS_Store
.env
.env.local
.env.*.local

# Editor folders
.vscode/

# Ignore generated sitemap (if any)
next-sitemap.xml
